CMakeLists.txt.user
/Build/
/Build-ninja/
/Build-Xcode/
/zRel/
/CleanBuild/
.cproject
.project
/clang/
/xcode/
/x64/
/i386/
/qtcreator/
/Build2/
/QT_BUILD/
.settings
.floo
/ninja/
/linux/
.idea
/Debug/
/build/
*.egg-info/
__pycache__/
*.so
/_codeql_build_dir/
/_codeql_detected_source_root
.ctags
